!!!5
%html{class: "no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title Regalos  sorpresa
    %meta{name: "description", content:" Obsequia un detalle inigualable y sorprende a tus allegados con nuestros servicios"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %script{src:"js/vendor/modernizr-2.8.3.min.js"} 
  %body
    .video-container
      %video{autoplay:true}
        %source{src:"/videos/mp4/video1.mp4", typ:"video/mp4"}
        %source{src:"/videos/webm/video1.webm", typ:"video/webm"} 
    .row.full-height.middle-xs.relative.up
      .col-xs-12
        .box.white-text
          %img{src:""}
          %h1.dancing-script.title.no-margin Regalos Sorpresa
          %p#is-open
            %i.glyphicon.glyphicon-time
            Servicio las 24 Horas
      %nav.fixed.top.right.navigation.white-text
      #navigation
        -menu = ["Home", "Inicio", "Galeria", "Contacto", "Como llegar"]
        %ul.list-inline
          -menu.each do |item|
            %li
              %a{}= item
      .absolute.medium.black.large-padding.bottom.white-text.full-width
      #description
        .row.middle-x.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Atencion y servicio de excelente calidad
          .col-xs.hidden 
            .box
              %nav.text-right.navigation
                %ul.list-inline
                  -menu.each do |item|
                    %li
                      %a{}= item
    .full-height  
